<footer>
    <div class="sourcelink">
        Source code available here: <div class="font-awesome"><a href="https://github.com/JamesHoxie"><i class="fab fa-github fa-5x"></i></a></div>
    </div>
</footer>