<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/usergreeting.ejs') %>
  <div class="body-container">
      <div class="header-container">
        <h1 id="page-title">Fire Emblem Character Profiles</h1>
          <%- include('./partials/nav.ejs') %>
      </div>
  
      <div class="parchment-container">
          <div class="main-content-container">
              <h2>404 - That page does not exist</h2>

              <div class="main-content">   
                <p></p>              
              </div>
          </div>
          <!--END MAIN-CONTENT CONTAINER-->
      </div>
      <!--END PARCHMENT CONTAINER-->
      <%- include('./partials/footer.ejs') %>
  </div>
  <!--END BODY CONTAINER-->
</body>
</html>

