<!DOCTYPE html>
<html lang="en">

<!--REPLACE THIS BELOW WITH A PARTIAL WHEN CONVERTING HTML DOC TO EJS-->
<!--css link will be different when in ejs, use link given by index.ejs in the characters folder-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA Compatible" content="ie=edge">
    <title>FE Website Project | <%= title %></title>
    <link rel="stylesheet" type= "text/css" href="../public/css/stylesheet.css">
</head>
<!--REPLACE THIS ABOVE WITH A PARTIAL WHEN CONVERTING HTML DOC TO EJS-->

<body>
    <div class="body-container">
        <div class="header-container">
            <h1 id="page-title" class="home-page">Fire Emblem Character Profiles</h1>
            <!--REPLACE THIS BELOW WITH A PARTIAL WHEN CONVERTING HTML DOC TO EJS-->
            <nav>
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/characters/create">Create</a></li>
                    <li><a href="/">Placeholder</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <!--REPLACE THIS ABOVE WITH A PARTIAL WHEN CONVERTING HTML DOC TO EJS-->
        </div>
    
        <div class="parchment-container">
            <div class="main-content container">
                <h2>About this website</h2>

                <div class="main-content">
                    <p>
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem           
                    </p>
                </div>
                <div>
                    <img name="three-houses-cover" src="../public/images/three-houses-cover.jpg">
                </div>
            </div>
            <!--END MAIN-CONTENT CONTAINER-->
        </div>
        <!--END PARCHMENT CONTAINER-->
    </div>
    <!--END BODY CONTAINER-->
</body>
</html>