<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <div class="body-container">
        <div class="header-container">
            <h1 id="page-title" class="home-page">Fire Emblem Character Profiles</h1>
            <%- include('./partials/nav.ejs') %>
        </div>
    
        <div class="parchment-container">
            <div class="main-content-container">
                <form>
                    <h2>Signup</h2> 
                    <label for="email">Email</label>
                    <input type="text" name="email" required>
                    <div class="email error"></div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                    <div class="password error"></div>
                    <button>Sign up</button>
                </form>
                    
            </div>
            <!--END MAIN-CONTENT CONTAINER-->
        </div>
        <!--END PARCHMENT CONTAINER-->
        <%- include('./partials/footer.ejs') %>
    </div>
    <!--END BODY CONTAINER-->
    
    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', (e) => {
            // prevent page from refreshing upon submit
            e.preventDefault();

            // get the values
            const email = form.email.value;
            const password = form.password.value;
            console.log(email, password);
        })
    </script>
</body>
</html>