<!DOCTYPE html>
<html lang="en">
  <!--NOTE, href for css stylesheet must be prepended by ../, all other ejs files have not needed this.
  It appears to be related to the create route being nested 2 layers deep, where characters is only 1 layer deep-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA Compatible" content="ie=edge">
    <title>FE Website Project | <%= title %></title>
    <link rel="stylesheet" type= "text/css" href="../css/stylesheet.css">
</head>
  
<body>
    <div class="header-container">
      <h1 id="page-title">Character Profile Creation Page</h1>
      <%- include('../partials/nav.ejs') %>
    </div>

    <!--BEGIN parchment-container-->
    <div class="parchment-container">
      <!--BEGIN main-content container-->
      <div class="main-content container">
        <div class="create-character-profile content">
          <form action="/characters/create" enctype="multipart/form-data" method="POST">
              <label for="name">Character Name</label>
              <input type="text" id="name" name="name" required>
              <label for="quote">Character Quote</label>
              <input type="text" id="quote" name="quote">
              <label for="bio">Character Bio</label>
              <textarea id="bio" name="bio"></textarea>
              <label for="portrait">Character Portrait:</label>
              <input type="file" id="portrait" name="portrait" accept="image/*">
              <button>Submit</button>
          </form>
        </div>            
      </div>
      <!--END MAIN-CONTENT CONTAINER-->
    </div>
    <!--END PARCHMENT CONTAINER-->
      
    <%- include('../partials/footer.ejs') %>

</body>
</html>