<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  
  <body>
    <h1 id="page-title">FE Website Character Profile Creation Page</h1>

    <%- include('../partials/nav.ejs') %>

    <div class="create-character-profile content">
      <form action="/characters" method="POST">
          <label for="name">Character Name</label>
          <input type="text" id="name" name="name" required>
          <label for="quote">Character Quote</label>
          <input type="text" id="quote" name="quote">
          <label for="bio">Character Bio</label>
          <textarea id="bio" name="bio"></textarea>
          <button>Submit</button>
      </form>
    </div>
      
    <%- include('../partials/footer.ejs') %>

  </body>
</html>